<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>テスト</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../account_files/p_css/reset.css?20240801">
    <link rel="stylesheet" href="../account_files/p_css/components.css?20240801">
    <link rel="stylesheet" href="../account_files/p_css/common.css?20240801">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../account_files/p_css/test.css?20240801">
</head>

<body>
    <!-- メイン -->
    <main>
        <div class="pt_flex">
            <p class="pt_typo_text">たんじょうびのひにち</p>
        </div>

        <div class="pt_widthArea">
            <p class="pt_typo_width"></p>
        </div>
    </main>

    <!-- 共通JavaScript -->
    <script src="../account_files/p_css/event.js?20240801"></script>
    <script src="../account_files/p_css/common.js?20240801"></script>
    <!-- 画面個別JavaScript -->
    <script src="../account_files/p_css/test.js?20240801"></script>
</body>

</html>